<div class="signup-container">
  <div class="question-container">
  <h1>welcome to rootstock</h1>
  <h2>DEV:: Question Points: {{ctrl.questionPoints}}</h2>
  <h2>DEV:: Portfolio Type: {{ctrl.portfolioType}}</h2>
    <h3 class="question">{{ctrl.question}}</h3>
    <div class="answer-container">
      <div class="answer" ng-click="ctrl.advanceQuestionSet(1)">{{ctrl.answer1}}</div>
      <div class="answer" ng-click="ctrl.advanceQuestionSet(2)">{{ctrl.answer2}}</div>
      <div class="answer" ng-click="ctrl.advanceQuestionSet(3)">{{ctrl.answer3}}</div>
    </div>
    <button ng-show="ctrl.portfolioType" ng-click="ctrl.generatePortfolio()" class="portfolio-button" type="button" name="button">Generate Portfolio</button>
  </div>
  <div class="image-container">
    <img ng-click="ctrl.incrementTree()" ng-src="images/signup-tree-{{ctrl.treeSrc}}.png">
  </div>
</div>
