<div class="questionnaire-intro-header">Investor Questionnaire</div>
<div class="questionnaire-text-and-image">
  <img src="images/logo.png" alt="">
  <div class="questionnaire-intro-text">
    This quick <span>risk tolerance</span> questionaire is designed to provide you with a clear definition for <span>investment strategy</span>. This survey will help to construct your portfolio aligned with your <span>life goals</span>.<br><br>
    The questionaire will suggest an appropriate direction to asset allocation for your portfolio based on your answers to questions about your <span>time horizon, investment objectives</span>, and <span>experience</span>.
    <div class="button" ng-click="ctrl.questionnaireStarted = !ctrl.questionnaireStarted">Begin Questionnaire</div>
  </div>
</div>
