<footer>
  <div class="footer-info">
    <div class="footer-links">
      <h5 class="footer-title">About RootStock</h5>
      <a href="#">Company Information</a>
      <a href="#">Community Relations</a>
      <a href="#">Customer Service</a>
    </div>
    <h6>Users of this site agree to be bound by the terms of the RootStock Website Rules and Regulations</h6>
    <h6>2020 RootStock &copy; All Rights Reserved</h6>
  </div>
  <div class="socials">
    <img src="images/socials/facebook.png" alt="">
    <img src="images/socials/linkedin.png" alt="">
    <img src="images/socials/twitter.png" alt="">
    <img src="images/socials/instagram.png" alt="">
  </div>
</footer>
