<nav>
  <!-- This will eventually be a LOGO -->
  <div class="nav-logo">
    <a href="/">rootStock</a>
    <img src="images/logo.png" alt="">
  </div>
  <div class="nav-buttons">
    <a ng-hide="portfolio[0]" href="/login">Sign In</a>
    <a ng-hide="portfolio[0]" href="/signup">Sign Up</a>
    <a ng-show="portfolio[0]" href="/portfolio">View Portfolio</a>
    <a ng-show="portfolio[0]" href="/settings">View Settings</a>
    <a ng-show="portfolio[0]" href="#" ng-click="navCtrl.logout()">Log Out</a>
  </div>
</nav>
