<div id="modal-background" ng-show="$scope.stockModal == ''"></div>
<div id="stock-view" class="modal" ng-show="$scope.stockModal == ''">
    <div class="title">
        <h3>{{ctrl.stock.stockTitle}}</h3>
    </div>
    <div class="chart">
        <div id="stock-chart"></div>
    </div>
    <div class="data">
        <p>Today's data:</p>
        <p>{{ctrl.stock.openPrice}}</p>
        <p>{{ctrl.stock.highPrice}}</p>
        <p>{{ctrl.stock.lowPrice}}</p>
        <p>{{ctrl.stock.closePrice}}</p>
        <p>{{ctrl.stock.volume}}</p>
    </div>
    <button ng-click="ctrl.closeModal()">Back</button>
</div>