/* FOOTER STYLES TODO:: Should these go into a *global* styles section in the styles.css?*/
footer {
  background-color: #168593;
  height: 225px;
  display: flex;
  font-family: 'Roboto';
  color: #E7E8E9;
}
a {
  color:#E7E8E9;
  text-decoration: none;
}

.footer-info {
  margin: 10px;
  min-width: 75%;
}

.footer-links {
  display: flex;
  flex-direction: column;
}
.socials {
  margin-top: 20px;
  right: 100px;
  position: absolute;
}

.socials img {
  width: 40px;
  height: 40px;
}

.footer-title {
  margin-bottom: 0rem;
}