/* MAIN PAGE STYLES */
.homepage-message-container {
  display: flex;
  margin-top: 60px;
}

.homepage-message-text {
  padding: 50px;
  padding-left: 125px;
  background: #168593;
  color: white;
  max-width: 45%;
}

.homepage-message-text span {
  font-size: 4em;
  line-height: 1.3;
}

.homepage-message-text p {
  margin-top: 50px;
  font-size: 2.1em;
}

.homepage-message-image {
  width: 60%;
  background-image: url('/images/welcome-image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage-cards-container {
  display: flex;
  justify-content: space-around;
  background: #EDFEFF;
  padding: 100px;
}

.homepage-card {
  border: 1px solid #168593;
  border-radius: 5px;
  background: white;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  width: 22vw;
  padding: 50px;
  padding-bottom: 100px;
}

.card-1 {
  background-image: url('/images/homepage-vector-1.png');
}

.card-2 {
  background-image: url('/images/homepage-vector-2.png');
}

.card-3 {
  background-image: url('/images/homepage-vector-3.png');
}

.homepage-card-title {
  color: #168593;
  font-size: 2em;
  font-weight: bold;
}

.homepage-card-text {
  color: black;
  font-size: 1.5em;
}
