/* NAV STYLES TODO:: Should these go into a *global* styles section in the styles.css?*/
nav {
  background-color: #EDFEFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 60px;
}

.nav-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-logo a {
  margin-left: 40px;
  color: black;
  font-size: 3em;
  text-decoration: none;
  font-family: 'Rasa';
  text-decoration: none;
  opacity: .8;
}

.nav-logo a:hover {
  opacity: 1;
}

.nav-logo img {
  width: 30px;
  height: 50px;
}

.nav-buttons {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.nav-buttons a {
  margin: 0 8px;
}
