/* PORTFOLIO STYLES */

.portfolio-container {
  height: 70vh;
  width: 80%;
  margin: 0 auto;
  display; flex;
  flex-direction: column;
}

.portfolio-amount {
  text-align: center;
  margin-top: 5vh;
  font-size: 3.5vw;
}

.portfolio-amount span {
  color: green;
}

.portfolio-card-container{
  display: flex;
  justify-content: space-around;
}

.portfolio-card-tag {
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
}

.portfolio-card {
  border: 1px solid #168593;
  width: 20vw;
  background: #EDFEFF;
  display: flex;
  flex-direction: column;
}

.portfolio-card p {
  font-weight: bold;
  font-size: .8vw;
  text-align: center;
}

.repeated-stock {
  font-size: 1.2vw;
  padding-left: 10px;
}

.repeated-stock span {
  font-weight: bold;
}

.portfolio-search {
  margin: 20px auto;
  font-size: 1.5vw;
}

.conservative {
  color: blue;
}

.moderate {
  color: orange;
}

.aggressive {
  color: red;
}
