/* SIGNUP-VIEW STYLES */
.signup-container {
  width: 90%;
  height: 750px;
  margin: 40px auto 60px auto;
  padding: 30px 50px;
  background-color: #168593;
  border-radius: 10px;
}

.signup-container input,.button {
  background: #EDFEFF;
  font-size: .7em;
  color: #168593;
}

.welcome-message {
  font-size: 4em;
  color: white;
  border-radius: 5px;
}

.welcome-message span {
  font-style: italic;
}

.questionnaire-text-and-image {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    /* border: 2px solid black; */
}

.questionnaire-text-and-image img {
  margin-right: 30px;
}

.questionnaire-text-and-image .button {
  margin-top: 50px;
}

.questionnaire-intro-header {
  text-align: center;
  color: white;
  font-size: 3em;
}

.questionnaire-intro-text {
  text-align: left;
  color: white;
  font-size: 1.7em;
  padding-top: 75px;
}

.questionnaire-intro-text span {
  font-weight: bold;
}

.questionnaire {
  display: flex;
  flex-direction: column;
  /* padding-left: 100px; */
  color: white;
  width: 80%;
  margin: 0 auto;
}

.username-and-password-form {
  display: flex;
  flex-direction: column;
}

.question {
  font-size: 3em;
}

.response-container {
  display: flex;
}

.answer-container {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  font-size: 2.3em;
  min-width: 40%;
}

.answer:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* .portfolio-button {
  background: white;
  color: #168593;
  padding-left: 15px;
  border-radius: 3px;
}

.portfolio-button:hover {
  cursor: pointer
} */

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
}
