/* SIGNUP-VIEW STYLES */
.signup-container {
  width: 90%;
  height: 750px;
  margin: 40px auto 60px auto;
  padding: 30px 50px;
  background-color: #168593;
  border-radius: 10px;
}

.signup-container input,.button {
  background: #EDFEFF;
  font-size: .7em;
  color: #168593;
}

.welcome-message {
  font-size: 4em;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.welcome-message span {
  font-style: italic;
}

.questionnaire-text-and-image {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

.questionnaire-text-and-image img {
  margin-right: 30px;
}

.questionnaire-text-and-image .button {
  margin-top: 50px;
}

.questionnaire-intro-header {
  text-align: center;
  color: white;
  font-size: 3em;
}

.questionnaire-intro-text {
  text-align: left;
  color: white;
  font-size: 1.7em;
  padding-top: 75px;
}

.questionnaire-intro-text span {
  font-weight: bold;
}

.questionnaire {
  display: flex;
  flex-direction: column;
  /* padding-left: 100px; */
  color: white;
  width: 80%;
  margin: 0 auto;
}

.username-and-password-form {
  display: flex;
  flex-direction: column;
}

.question {
  font-size: 3em;
  text-align: center;
}

.response-container {
  flex-direction: column;
  margin-top: 100px;
  align-items: center;
  padding: 0 100px;
}
.image-container img {
  transform: translateY(-100px);
}
.answer-container {
  margin-top: 25px;
  font-size: 2.3em;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
  float: left;
}

.answer:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* .portfolio-button {
  background: white;
  color: #168593;
  padding-left: 15px;
  border-radius: 3px;
}

.portfolio-button:hover {
  cursor: pointer
} */

.image-container {
  justify-content: center;
  align-items: center;
  padding-left: 0px;
  width: 50%;
  float: left;
}

#question-btn {
  color: white;
  position: absolute;
  top: 714px;
  left: 800px;
}

.create-user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hand-img {
  height: 240px;
}

.questionnaire-text-and-image img {
  margin-right: 30px;
  position: relative;
  top: 59%;
  transform: translateY(-50%);
}
.first-paragraph {
  position: absolute;
  width: 1027px;
  height: 198px;
  left: 450px;
  top: 280px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 29.55px;
  line-height: 35px;
}

.second-paragraph {
  position: absolute;
  width: 758px;
  height: 165px;
  left: 650px;
  top: 462px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 29.55px;
  line-height: 35px;
}

#btn-submit {
  color: #222;
}

.investment-amount {
  position: absolute;
  width: 636px;
  height: 65px;
  left: 32%;
  top: 50%;

  background: #E5E5E5;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#investment-btn {
  position: absolute;
  left: 47%;
  top: 58%;
  color: white;
}


