div#stock-view {
    position: fixed;
    width: 800px;
    background: #fff;
    box-shadow: 0px 0px 22px rgba(0,0,0,0.25);
    padding: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#stock-chart {
    height: 400px;
}
div#stock-chart-license-text {
    display: none;
}