/* GLOBAL STYLES */
* {
  font-family: serif;
}

/* SIGNUP-VIEW STYLES */
.signup-container {
  background: #E7E8E9;
  width: 80%;
  min-height: 75vh;
  margin: 100px auto;
  padding: 50px 100px;
  color: #168593;
  border-radius: 10px;
  /* border: 3px solid yellow; */
}

.welcome-message {
  font-family: 'Playfair Display', serif;
  font-size: 5em;
  background: #168593;
  color: ivory;
  /* border: 3px solid orange; */
  padding-left: 25px;
}

.welcome-message span {
  font-style: italic;
}

.questionnaire {
  /* border: 10px solid pink; */
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  margin-top: 10px;
}

.question {
  /* border: 3px solid blue; */
  font-size: 3em;
}

.response-container {
  /* border: 3px solid black; */
  display: flex;
}

.answer-container {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  /* border: 3px solid red; */
  font-size: 2em;
  min-width: 20%;
}

.answer:hover {
  cursor: pointer;
  text-decoration: underline;
}

.portfolio-button {
  background: #168593;
  color: ivory;
  /* border: 2px solid black; */
  padding-left: 15px;
  border-radius: 3px;
}

.portfolio-button:hover {
  cursor: pointer
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  /* border: 3px solid teal; */
}
